@using System.Web;

@model Paragraph.Services.DataServices.Models.Article.ArticleViewModel

@{
    ViewData["Title"] = "Details";
    ViewData["Id"] = Model.Id;
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Content
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HtmlContent)
        </dd>
        <dt>
            Category
        </dt>
        <dd>

            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>

    @if (this.User.IsInRole("Admin"))
    {
        <a asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @:|
        <a asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id">Delete</a> @:|

    }

    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

<partial name="Comment/AllComments" model="@Model.Comments" view-data="ViewData" />

<partial name="Comment/AddComment" model="@Model.AddCommentModel" view-data="ViewData"/>



   


